.title{
  color: white;
  font-size: 50px;

  margin-bottom: 80px;
  font-family: 'Raleway', sans-serif;
  border-bottom: solid 1px #45EBA5;
  display: inline-block;
}

.section{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-bottom: 0px;
  margin-bottom: 0px; */
}


.innerContainer{

  width: 60%;
  display: flex;
  justify-content: flex-start;
}
.link{
  color: #45EBA5;
  text-decoration: none;
}

@media only screen and (max-width:1000px){
.innerContainer{
  justify-content: center;
}
}

@media only screen and (max-width:768px){
  .title{
    font-size: 40px;
  }
  .timeline{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}